:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --bg-ligth-color: #D9D9D9;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, label, input {
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
    width: 100%;
}

.header-contain{
    background-color: var(--bg-ligth-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    picture {
        width: 50%;
        padding: 8px 24px;
        img {
            width: 100%;
        }
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
        padding: 0 24px;
    }
}
/*Landing*/
.title-main {
    padding: 16px 0;
    text-align: center;
    font-weight: 900;
}

.prizes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    picture{
        display: flex;
        justify-content: space-evenly;
    }
}

.prizes-img{
    width: 20%;
}

.button-cta {
    text-align: center;
    padding: 32px 0;
    button{
        background-color: #949494;
        color: var(--bg-color);
        border: none;
        font-weight: 900;
        padding: 8px 48px;
    }
}

.promo-contain {
    width: 100%;
    padding: 8px 32px;
    picture {
        display: block;
        img{
            width: 100%
        };
    }
}

.contex-message {
    width: 100%;
    padding: 8px 56px;
    text-align: center;
    h4{
        padding: 8px 0;
    }
    picture {
        display: block;
        img {
            width: 100%;
        }
    }
}

/*Login*/

.login-main {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    img{
        width: 30%;
    }
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 52px 40px;
}

.login-contain-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    input {
        background-color: var(--bg-ligth-color);
        color: var(--text-color);
        border: none;
        font-weight: 900;
        padding: 4px;
    }
    label {
        font-weight: 700;
    }
}
.button-login{
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    font-weight: 900;
    padding: 8px 24px;
}

.network-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 52px 40px;
}

.login-net-aut {
    padding: 0 0 20px 0px;
    font-weight: 800;
    font-size: 16pt;
}

.network-contain {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    img{
        width: 15%;
    }
}
